*.py[co]

# gvim
.*.sw[ijklmnop]
*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

htmlcov

tests/test_files/gil_testing_wrapper.pyx
tests/test_files/libcpp_stl_test.pyx
tests/test_files/libcpp_utf8_string_test.pyx
tests/test_files/libcpp_utf8_output_string_test.pyx
tests/test_files/number_conv.pyx

