name: build autowrap

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      # By default, GitHub will maximize the number of jobs run in parallel
      # depending on the available runners on GitHub-hosted virtual machines.
      # max-parallel: 8
      fail-fast: false
      matrix:
        include:
#          - CYTHON: "<=0.29.21"
#            python-version: "2.7"
          - CYTHON: "<=0.29.21"
            python-version: "3.7"
          - CYTHON: "<=0.29.21"
            python-version: "3.9" # Cython < 0.29.21 not compatible with 3.10, so neither are we
#          - CYTHON: ">0.29.21"
#            python-version: "2.7"
          - CYTHON: ">0.29.21"
            python-version: "3.7"
          - CYTHON: ">0.29.21"
            python-version: "3.10"
          - CYTHON: "==3.0.0a10"
            python-version: "3.7"
          - CYTHON: "==3.0.0a10"
            python-version: "3.10"
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip version
        run: |
          python -m pip install -U pip
      - name: Install pytest
        run: |
          python -m pip install pytest
      - name: Upgrade cython version
        run: |
          python -m pip install "Cython${{ matrix.CYTHON }}"
      - name: run tests
        run: |
          python setup.py develop
          py.test tests/
